<! category_form.html >

{% extends 'blog/blog_base.html' %}

{% block blog_content %}
<div class="container mt-4">
    <h2 class="mb-4">Create or Edit Category</h2>
    <form action="" method="post" class="needs-validation" novalidate>
        {% csrf_token %}
        <div class="mb-3">
            {{ form.as_p }}
        </div>
        <button type="submit" class="btn btn-primary">저장</button>
        <a href="{% url 'category_list' %}" class="btn btn-secondary">취소</a>
    </form>
</div>
{% endblock %}
